<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="mic.css">
</head>
<body>
<div class="container" style="width: 100%;height: 250px;box-shadow: 5px 15px 5px -10px #888888;">
    <div id="q0"  style="display: block"></div>
    <div id="q2"  style="display: none">
    <div class="demo js-demo" style="margin-top: 60px;">
        <div class="demo-inner">
          
            <div><span class="char-1 char" data-animate="fade-in">C</span>
                <span class="char-2 char" data-animate="fade-in">H</span>
                <span class="char-3 char" data-animate="fade-in">E</span>
                <span class="char-4 char" data-animate="fade-in">C</span>
                <span class="char-5 char" data-animate="fade-in">K</span>
                <span class="char-6 char" data-animate="fade-in">&nbsp;</span>
                <span class="char-7 char" data-animate="fade-in">P</span>
                <span class="char-8 char" data-animate="fade-in">U</span>
                <span class="char-8 char" data-animate="fade-in">L</span>
                <span class="char-8 char" data-animate="fade-in">S</span>
                <span class="char-8 char" data-animate="fade-in">E</span>
                <span class="char-8 char" data-animate="fade-in">&nbsp;</span>
                <span class="char-8 char" data-animate="fade-in">R</span>
                <span class="char-8 char" data-animate="fade-in">A</span>
                <span class="char-8 char" data-animate="fade-in">T</span>
                <span class="char-8 char" data-animate="fade-in">E</span>
              </div>
              <div><span class="char-1 char" data-animate="fade-in">து</span>
                <span class="char-2 char" data-animate="fade-in">டி</span>
                <span class="char-3 char" data-animate="fade-in">ப்</span>
                <span class="char-4 char" data-animate="fade-in">பு</span>
                <span class="char-6 char" data-animate="fade-in">&nbsp;</span>
                <span class="char-5 char" data-animate="fade-in">வீ</span>
                <span class="char-5 char" data-animate="fade-in">த</span>
                <span class="char-5 char" data-animate="fade-in">த்</span>
                <span class="char-5 char" data-animate="fade-in">தை</span>
                <span class="char-5 char" data-animate="fade-in">&nbsp;</span>
                <span class="char-5 char" data-animate="fade-in">ச</span>
                <span class="char-5 char" data-animate="fade-in">ரி</span>
                <span class="char-5 char" data-animate="fade-in">பா</span>
                <span class="char-5 char" data-animate="fade-in">ர்</span>
                <span class="char-5 char" data-animate="fade-in">க்</span>
                <span class="char-5 char" data-animate="fade-in">க</span>
                <span class="char-5 char" data-animate="fade-in">வு</span>
                <span class="char-5 char" data-animate="fade-in">ம்</span>
                
            
          </div>
        </div>
        </div>
        </div>
        <div id="q1"  style="display: block">
        <div class="demo js-demo" style="margin-top: 60px;">
            <div class="demo-inner">
                <div><span class="char-1 char" data-animate="fade-in">V</span>
                    <span class="char-2 char" data-animate="fade-in">A</span>
                    <span class="char-3 char" data-animate="fade-in">N</span>
                    <span class="char-4 char" data-animate="fade-in">A</span>
                    <span class="char-5 char" data-animate="fade-in">K</span>
                    <span class="char-6 char" data-animate="fade-in">K</span>
                    <span class="char-7 char" data-animate="fade-in">A</span>
                    <span class="char-8 char" data-animate="fade-in">M</span>
                  </div>
                  <div><span class="char-1 char" data-animate="fade-in">வ</span>
                    <span class="char-2 char" data-animate="fade-in">ண</span>
                    <span class="char-3 char" data-animate="fade-in">க்</span>
                    <span class="char-4 char" data-animate="fade-in">க</span>
                    <span class="char-5 char" data-animate="fade-in">ம்</span>
              </div>
            </div>
            </div>
            </div>
            <div id="q4"  style="display: none">
                <div class="demo js-demo" style="margin-top: 60px;">
                    <div class="demo-inner">
                        <div><span class="char-1 char" data-animate="fade-in">IPPOTU NERAM ENNA</span>
                          </div>
                          <div><span class="char-1 char" data-animate="fade-in">இப்போது நேரம் என்ன</span>
                            
                      </div>
                    </div>
                    </div>
                    </div>
            <div id="q3"  style="display: none">
                <div class="demo js-demo" style="margin-top: 60px;">
                    <div class="demo-inner">
                        <div><span class="char-1 char" data-animate="fade-in">ITAYA TUTIPPP SARIPARKKAVUM</span></div>
                        <div><span class="char-1 char" data-animate="fade-in">இதய துடிப்பு சரிபார்க்கவும்</span>
                            
                      </div>
                    </div>
                    </div>
            
      </div>


</div>
<div class="container" style="width: 100%;">
    <button id="recordButton" class="btn demo" onclick="next()" style="width: 150px;height:150px;margin-top: 30px;">
        <i class="fa fa-microphone" style="margin-bottom:15px;font-size: 50px;" aria-hidden="true"></i>
        <div id="pulse" class="pulse-ring" style="width: 150px;height:150px;top: -5px;left: -5px;display: none;"></div>
      </button>
      <div id="controls" style="display: none;">
        
        <button id="pauseButton" disabled>Pause</button>
        <button id="stopButton" disabled>Stop</button>
     </div>
     <div id="formats" style="display: none;">Format: start recording to see sample rate</div>
       <p><strong>Recordings:</strong></p>
       <ol id="recordingsList"></ol>

</div>
</body>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="js/app.js"></script>
<script>
var showing = [1, 0, 0, 0, 0];
var words = ['q0', 'q1','q2','q3', 'q4'];
function next() {
    var qElems = [];
    for (var i = 0; i < words.length; i++) {
        qElems.push(document.getElementById(words[i]));   
    }
    for (var i = 0; i < showing.length; i++) {
        if (showing[i] == 1) {
            qElems[i].style.display = 'none';
            showing[i] = 0;
            if (i == showing.length - 1) {
                qElems[0].style.display = 'block';
                showing[0] = 1;
            } else {
                qElems[i + 1].style.display = 'block';
                showing[i + 1] = 1;
            }
            break;
        }
    }      
}
</script>
</html>