<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home | Superb Mart</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./css/style.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark customizedNavbar">
          <a class="navbar-brand" href="#">
              <div class="brandLogo">
                <p class="logoBoldText">SuperbMart</p>
                <p class="logoSubText">eMarketplace</p>
              </div>
            </a>
        <div class="showMobile toggleNavbar">
          <!-- cart section -->
          <div class="cartFlex">
            <div class="cartIcon">
              <p class="cartCount">0</p>
              <img src="./img/cart-img.png" alt="" />
            </div>
            <!-- <p class="cartText">Cart</p> -->
          </div>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbarContainer">
          <div class="topNavBar">
              
            <span class="navbar-text mr-auto userName hideMobile">
              Mr.Ramakrishna Yalamanchili
            </span>
            <ul class="navbar-nav hideMobile">
              <li class="nav-item active">
                <a class="nav-link" href="#"
                  >Home <span class="sr-only">(current)</span></a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">My Account</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Cards</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Track Orders</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Superb Care</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Sign Out</a>
              </li>
            </ul>
          </div>
          <div class="mainNavbar">
            <div class="collapse navbar-collapse" id="navbarText">
              <ul class="navbar-nav showMobile">
                <li class="nav-item active">
                  <a class="nav-link" href="#"
                    >Home <span class="sr-only">(current)</span></a
                  >
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">My Account</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Cards</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Track Orders</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Superb Care</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sign Out</a>
                </li>
              </ul>
              <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown" >
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                  >
                    Category
                  </a>
                  <div
                    class="dropdown-menu customMegamenu"
                    aria-labelledby="navbarDropdown"
                  >
                    <div class="container">
                      <div class="row fullwidthRow">
                        <div class="col-md-3">
                          <p class="text-uppercase text-white megaMenuTitle">
                            Category
                          </p>

                          <ul class="nav flex-column">
                            <li class="nav-item womenFashionCategory">
                              Women's Fashion
                              <i
                                class="fa fa-angle-right"
                                aria-hidden="true"
                              ></i>
                            </li>
                            <li class="nav-item menFashionCategory">
                              Men's Fashion
                              <i
                                class="fa fa-angle-right"
                                aria-hidden="true"
                              ></i>
                            </li>
                          </ul>
                        </div>
                        <!-- /.col-md-3  -->
                        <div class="col-md-3">
                          <p class="text-uppercase text-white megaMenuTitle">
                            Title
                          </p>
                          <ul class="nav flex-column womenFashion">
                            <li class="nav-item">
                              Kurtas & Kurtis
                            </li>
                            <li class="nav-item">
                              Suit Sets
                            </li>
                            <li class="nav-item">
                              Sarees & Lehenga sets
                            </li>
                          </ul>
                          <ul class="nav flex-column menFashion">
                            <li class="nav-item">
                              Formal Shoes
                            </li>
                            <li class="nav-item">
                              Running Shoes
                            </li>
                            <li class="nav-item">
                              Training Shoes
                            </li>
                          </ul>
                        </div>
                        <!-- /.col-md-3  -->
                        <div class="col-md-3">
                          <p class="text-uppercase text-white megaMenuTitle">
                            Title
                          </p>
                          <ul class="nav flex-column womenFashion">
                            <li class="nav-item">
                              Kurtas & Kurtis
                            </li>
                            <li class="nav-item">
                              Suit Sets
                            </li>
                            <li class="nav-item">
                              Sarees & Lehenga sets
                            </li>
                          </ul>
                          <ul class="nav flex-column menFashion">
                            <li class="nav-item">
                              Formal Shoes
                            </li>
                            <li class="nav-item">
                              Running Shoes
                            </li>
                            <li class="nav-item">
                              Training Shoes
                            </li>
                          </ul>
                        </div>
                        <!-- /.col-md-3  -->
                        <div class="col-md-3">
                          <p class="text-uppercase text-white megaMenuTitle">
                            Title
                          </p>
                          <ul class="nav flex-column womenFashion">
                            <li class="nav-item">
                              Kurtas & Kurtis
                            </li>
                            <li class="nav-item">
                              Suit Sets
                            </li>
                            <li class="nav-item">
                              Sarees & Lehenga sets
                            </li>
                          </ul>
                          <ul class="nav flex-column menFashion">
                            <li class="nav-item">
                              Formal Shoes
                            </li>
                            <li class="nav-item">
                              Running Shoes
                            </li>
                            <li class="nav-item">
                              Training Shoes
                            </li>
                          </ul>
                        </div>
                        <!-- /.col-md-3  -->
                      </div>
                    </div>
                    <!--  /.container  -->
                  </div>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Brands</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Stores</a>
                </li>
              </ul>

              <div class="col-auto hideMobile">
                <label class="sr-only" for="inlineFormInputGroup"
                  >Product Search</label
                >
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text locationRoot">
                      <div class="locationDetailsFlex">
                        <div class="locationIcon">
                          <i class="fa fa-map-marker" aria-hidden="true"></i>
                        </div>
                        <div class="locationContent">
                          <p>Delivering to</p>
                          <p class="searchBarpinCode">400020</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="inlineFormInputGroup"
                    placeholder="Product Search"
                  />
                  <div class="input-group-append searchBarRoot">
                    <button class="btn btn-secondary" type="button">
                      <i class="fa fa-search"></i>
                    </button>
                  </div>
                </div>
              </div>
              <!-- search bar enfd -->
              <div class="sortSection hideMobile">
                <div class="sortByText">
                  <p>Sort by</p>
                </div>
                <div class="sortByFlex atoz">
                  <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                  <div class="sortText">
                    <p>A</p>
                    <p>Z</p>
                  </div>
                </div>
                <div class="sortByFlex ztoa">
                  <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                  <div class="sortText">
                    <p>Z</p>
                    <p>A</p>
                  </div>
                </div>
                <div class="sortByFlex oneToNine">
                  <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                  <div class="sortText">
                    <p>1</p>
                    <p>9</p>
                  </div>
                </div>
                <div class="sortByFlex nineToOne">
                  <i class="fa fa-long-arrow-down" aria-hidden="true"></i>
                  <div class="sortText">
                    <p>9</p>
                    <p>1</p>
                  </div>
                </div>
              </div>
              <!-- cart section -->
              <div class="cartFlex hideMobile">
                <div class="cartIcon">
                  <p class="cartCount">0</p>
                  <img src="./img/cart-img.png" alt="" />
                </div>
                <p class="cartText">Cart</p>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>

    <section id="shipping-information" class="">
      <div class="container ">
        <div class="row">
          <div class="col-sm-8 middle1">
            <div class="cartBreadcrumb">
              <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    Cart
                  </li>
                  <li class="breadcrumb-item">
                    Customer Information
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Shipping Information
                  </li>
                  <li class="breadcrumb-item">Payment Method</li>
                </ol>
              </nav>
            </div>
           
            <div class="paymentMethod borderBottom">
              <p class="yourCartTitile">How do you want to pay?</p>
              
              <button type="button" class="collapsible"><img src="./img/credit-cards.png" width="30px" height="10px" style="margin-right: 20px;"> Credit Card</button>
              <div class="content">
                <div class="row" style="height: 80px;">
                  <div class="col-lg-12" style="margin-top:25px ;">
                    <input type="text"  placeholder="Card Number" style="width: 300px;">
                    <input type="text"  placeholder="Month" style="margin-left: 10px;width: 60px;">
                    <input type="text"  placeholder="Year" style="margin-left: 10px;width: 60px;">
                    <input type="text"  placeholder="cvv" style="margin-left: 10px;width: 60px;">
                    <img src="./img/footer/visa-logo.png" width="30px" height="10px"  style="margin-left: 20px;" alt="visa logo" />
                  <img
                    src="./img/footer/master-card.png" width="30px" height="10px"
                    alt="Master card logo"
                  />
                  <img
                    src="./img/footer/american-exp-logo.png" width="30px" height="10px"
                    alt="American Express logo"
                  />
                  </div>
                
              </div>
              </div>
              <button type="button" class="collapsible" ><img src="./img/online-banking.png" width="30px" height="10px" style="margin-right: 20px;">Using Net Banking</button>
              <div class="content" style="margin-bottom:4px ;">
                <div class="cartTotal flex">
                  <p><img src="./img/axis-bank.png" width="20px" height="25px"></p>
                  <p style="margin-left: 10px;">Axis Bank Ltd.</p>
                </div>
                <div class="cartTotal flex">
                  <p><img src="./img/HDFC.png" width="20px" height="25px"></p>
                  <p style="margin-left: 10px;">HDFC Bank LTD</p>
                </div>
                <div class="cartTotal flex">
                  <p><img src="./img/icici.jpg" width="20px" height="25px"></p>
                  <p style="margin-left: 10px;">ICICI Bank</p>
                </div>
                <div class="cartTotal flex">
                  <p><img src="./img/sbi.png" width="20px" height="25px"></p>
                  <p style="margin-left: 10px;">State Bank of India</p>
                </div>
             </div>
              <button type="button" class="collapsible" ><img src="./img/qr-code.png" width="30px" height="10px" style="margin-right: 20px;"> By Scanning QR</button>
               <div class="content">
                <img src="./img/QR.png" style="padding-top: 20px;padding-left: 100px; padding-bottom: 20px;" >
              </div>  
              <button type="button" class="collapsible"><img src="./img/upi.png" width="30px" height="10px" style="margin-right: 20px;"> Using UPI </button>
              <div class="content">
                <div class="row" style="height: 80px;">
                  <div class="col-lg-12" style="margin-top:20px ;">
                    <input type="text"  placeholder="Enter VPA" style="width: 300px;">
                    <a href="#">Verify</a>
                  </div>

                
              </div>
              </div>
              <button type="button" class="collapsible"><img src="./img/cash-payment.png" width="30px" height="10px" style="margin-right: 20px;">Cash on delivery</button>
              <div class="content">
                
              </div>
              </div>
              <div class="continuePaymentMethod">
                <div class="row">
                  <div class="col-sm-6 align-self-start">
                    <a href="./cart.html">
                      <p>
                        <i class="fa fa-angle-left" aria-hidden="true"></i> Return
                        to Customer Information
                      </p>
                    </a>
                  </div>
                  <div class="col-sm-6 align-self-end">
                    <a href="./success.html">
                    <button
                      type="button"
                      class="btn btn-primary proceedToPaymentBtn"
                      
                    >
                      Complete Order
                    </button></a>
                  </div>
                </div>
              </div>
              
            </div>
            
            
          <div class="col-sm-4 middle2">
            <div class="cartSummaryCard">
              <p class="yourCartTitile marginBottomTen">Summary (2 item)</p>
              <div class="subtotalInfo">
                <div class="cartSubtotal flex">
                  <p>Subtotal</p>
                  <p>₹ 2 000.00</p>
                </div>
                <div class="cartShipping flex">
                  <p>Shipping</p>
                  <p>-</p>
                </div>
                <div class="cartTaxes flex">
                  <p>Taxes</p>
                  <p>-</p>
                </div>
              </div>
              
              <div class="cartTotalInfo">
                <div class="cartTotal flex">
                  <p><strong>Total</strong></p>
                  <p>₹ 2 000.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <footer id="footer" class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div class="siteMap flex">
              <p style="margin-right: 25px;">Superb Mart</p>
              <a href="#">Category </a>
              <p>|</p>
              <a href="#">Brands </a>
              <p>|</p>
              <a href="#">Stores</a>
            </div>
            <div class="footerCards flex">
              <img src="./img/footer/visa-logo.png" alt="visa logo" />
              <img src="./img/footer/master-card.png" alt="Master card logo" />
              <img
                src="./img/footer/american-exp-logo.png"
                alt="American Express logo"
              />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="footerNewsLetter">
                <a href="#" style="font-size:14px;padding-bottom: 10px">Terms and Conditions</a>
                <p>YALAMANCHILI © 2020. All rights reserved </p>

              
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
      integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
      crossorigin="anonymous"
    ></script>
    <script src="./js/script.js"></script>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;
      
      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.display === "block") {
            content.style.display = "none";
          } else {
            content.style.display = "block";
          }
        });
      }
      </script>
  </body>
</html>
